body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #10b981;
    color: white;
    text-align: center;
    padding: 1.5em 0;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

section {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

section h2 {
    text-align: center;
    color: #333;
    border-bottom: 2px solid #10b981;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.exercise {
    margin-bottom: 20px;
}

.exercise h3 {
    color: #10b981;
    margin-bottom: 5px;
}

.exercise p {
    margin: 0;
    color: #555;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #ff6f61;
    color: white;
    position: relative;
    width: 100%;
    bottom: 0;
}
